<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.filmtong.movie.mapper.UserInfoMapper">
	<select id="selectUserInfo" resultType="info.filmtong.movie.vo.userInfo.UserInfoVO">
		SELECT UI_NUM, UI_ID, UI_PWD, UI_NICKNAME, UI_EMAIL, UI_PROFILE_IMG 
		FROM USER_INFO
		WHERE UI_NUM=#{uiNum}
	</select>
	<select id="selectUserInfoByUiId" resultType="info.filmtong.movie.vo.userInfo.UserInfoVO">
		SELECT UI_NUM, UI_ID, UI_PWD, UI_NICKNAME, UI_EMAIL, UI_PROFILE_IMG 
		FROM USER_INFO
		WHERE UI_ID=#{uiId}
	</select>
	<select id="selectUserInfoByIdAndPwd" resultType="info.filmtong.movie.vo.userInfo.UserInfoVO">
		SELECT UI_NUM, UI_ID, UI_PWD, UI_NICKNAME, UI_EMAIL, UI_PROFILE_IMG  
		FROM USER_INFO
		WHERE UI_ID=#{uiId}
		AND UI_PWD=#{uiPwd}
	</select>
	<select id="selectUserInfoByKakaoId" resultType="info.filmtong.movie.vo.userInfo.UserInfoVO">
		SELECT UI_NUM, UI_ID, UI_PWD, UI_NICKNAME, UI_EMAIL, UI_PROFILE_IMG
		FROM USER_INFO
		WHERE UI_KAKAO_ID=#{uiKakaoId}
	</select>
	<insert id="insertUserInfo" parameterType="info.filmtong.movie.vo.userInfo.UserInfoVO">
		INSERT INTO USER_INFO(UI_ID, UI_NICKNAME, UI_PWD, UI_EMAIL, UI_PROFILE_IMG)
		VALUES(#{uiId}, #{uiNickname}, #{uiPwd}, #{uiEmail}, #{uiProfileImg})
	</insert>
	<update id="updateUserInfo" parameterType="info.filmtong.movie.vo.userInfo.UserInfoVO">
		UPDATE USER_INFO
		SET UI_NICKNAME=#{uiNickname},
		UI_PWD=#{uiPwd},
		UI_PROFILE_IMG=#{uiProfileImg}
		WHERE UI_NUM=#{uiNum}
	</update>
	<delete id="deleteUserInfo">
		DELETE FROM
		USER_INFO WHERE UI_NUM=#{uiNum}	
	</delete>
</mapper>